
/*   color variables */
$clr-primary: #18ffff;
$clr-primary-light: #adffff;
$clr-primary-dark: #091034;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-bg: #ffffff;

/*   border radius */
$radius: 0.5rem;

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(189, 189, 189) !important;  
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inputborder{ 
  border-style: groove; 
  border-width: 1px !important;
  border-color: black !important;
  box-sizing: border-box !important;
}

.inputborder  span{ 
  border-style: none; 
  border-width: 0px !important;
}

.form {
  position: relative;
  width: 20rem;
  height: 3rem;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;
    padding: 1.25rem;
    background: none;
    border-width: 0px !important;

    &:hover {
      border-color: $clr-primary-light;
    }

    /* Change border when input focus*/

    &:focus {
      border-color: $clr-primary;
    }
  }

  &__label {
    position: absolute;
    left: 2rem;
    top: 1rem;
    padding: 0 0.5rem;
    color: white;
    cursor: text;
    pointer-events:none;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color:white;
  }
}

/* 
1. When the input is in the focus state
reduce the size of the label and move upwards 

2. Keep label state when content is in input field 
*/

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}
